
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  adding layer */
@layer components{
 h1{
  @apply text-3xl font-bold
 }
}

.primary{
  color:#00ffc9
}  
.bg-primary{
  background-color:#00ffc9
}
.hexagon {
  width: 200px;
  height: 116px;
  /* background-color: #00ffc9; */
  background-image: linear-gradient(#00ffc9, #00ffc9);
  margin: 100px auto;
  position: relative;
  opacity: 1;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 58px solid #00ffc9;
} 

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 58px solid #00ffc9;
}
.small-hexagon {
  width: 50px;
  height: 25px;
  background-color: #00ffc9;
  position: relative;
  opacity: .8;

}
.small-hexagon:before,
.small-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.small-hexagon:before {
  width: 0;
  bottom: 100%;
  border-bottom: 12.5px solid #00ffc9;
}
.small-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 12.5px solid #00ffc9;
}
.me{
  height: inherit;
  width: inherit;
}
#box{
  --angle:0deg;
  position:absolute;
  z-index: 1;
  top:2%;
  left: -5px;
  width:95%;
  height:85%;
  translate: 10% 10%;
  opacity: .8;
  border-radius: 2px ;
  border-image-slice: 1;
}
.gradient-border {
  --borderWidth: 2px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #00ffc9, #f37055, #00ffc9, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*  buttons */
.primary-btn{
  /* background-color: white; */

}
.primary-btn:hover{
  background-color: #00ffc9;
  color: white;
  animation-name: primarybtn;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;

  width: 0;
}
@keyframes primarybtn{
  0%{
    width: 0%;
  }
  20%{
    width: 20%;    
  }
40%{
    width: 40%;    
  }
  60%{
    width: 60%;    
  }
  80%{
    width: 80%;    
  }
  100%{
    width: 100%;    
  }

}